extends index

block site
  .restaurants
    each restaurant in restaurants
      a(href=`/restaurant/${restaurant.slug}`)
        .restaurant__card()
          .photo-container
            img(src=`photos/${restaurant.photo}`)
          h2.outlined=restaurant.name
