extends index

block site
  .restaurant
    .restaurant__header
      .container
        .restaurant__card
          .photo-container
            img(src=`/photos/${restaurant.photo}`)
          h2=restaurant.name
      img.mapimage(src=`/maps/${restaurant.map}`, alt="")
  pre #{JSON.stringify(restaurant, null, 2)}