.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 100vw;

  //border: 1px solid black;
  padding: 20px;
  margin: 40px auto;

  &__group {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: space-between;
    input {
      width: 90vw;
    }
  }

  .tags, .reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;

    .tag, .review {
      input {
        margin: 10px;
      }
    }
  }

  .button {
    margin-top: 20px;
    background-color: royalblue;
    color: white;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    &:hover {
      background-color: lighten(royalblue, 5%);
    }
  }
}

@include breakpoint(fhd) {
  .form {
    &__group {
      flex-direction: row;
      input {
        width: 500px;
      }
    }
  }
}
