.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  //border: 1px solid black;
  padding: 20px;
  margin: 40px auto;

  &__group {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    input {
      width: 500px;
    }
  }

  .tags, .reviews {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    .tag, .review {
      input {
        margin-right: 5px;
      }
    }
  }

  .button {
    background-color: royalblue;
    color: white;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    &:hover {
      background-color: lighten(royalblue, 5%);
    }
  }
}
