header {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
  display: flex;
  margin: 0 auto;
  padding: 15px;

  .icon {
    width: 30px;
  }

  .page_name {
    font-size: 12px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-grow: 1;

    li {
      margin-left: 10px;
      color: white;
      cursor: pointer;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .page_name {
        width: 100%;
      }

      img {
        display: block;
      }
    }

    a, p {
      text-decoration: none;
      color: white;
      margin: 3px;
    }
  }
}

@include breakpoint(fhd) {
  .nav {
    width: 1800px;
    padding: 15px;

    .icon {
      width: 40px;
    }

    .page_name {
      font-size: 24px;
    }

    ul {
      li {
        margin-left: 50px;
      }
    }

  }
}
