.restaurants, .restaurant {
  display: flex;
  margin: 20px 40px;
  justify-content: space-around;
  flex-wrap: wrap;

  .restaurant__header {
    display: flex;
    justify-content: space-between;

    .restaurant__card {
      margin-left: 0;
    }

    .mapimage {
      height: 100%;
    }

    .container {
      display: flex;
      align-items: flex-end;

      .restaurant__card {
        margin-bottom: 0.5rem;
      }
    }
  }
  a {
    text-decoration: none;
    flex-wrap: wrap
    // flex-basis: 30%;
  }
  .restaurant__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(46, 41, 78, 0.55);
    border-radius: 3%;
    margin: 30px 100px;

    .photo-container {
      height: 460px;
      width: 300px;

      img {
        height: 500px;
        width: 300px;
        object-fit: cover;
      }
    }

    .single-container {
      height: 550px;
      width: 400px;

      .single-photo {
        height: 550px;
        width: 400px;
      }
    }
  }
}

.restaurant {
  flex-direction: column;

  ul {
    display: flex;
    justify-content: space-around;
  }

  .restaurant__menu {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .restaurant__tags {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;

      ul {
        text-decoration: none;
      }

      li {
        font-size: 20px;
        margin-right: 10px;
        display: flex;
        i {
          margin-right: 3px;
        }
      }
    }

    .menu__options {
      justify-content: flex-end;

      li {
        display: flex;
        color: white;
        font-size: 40px;
        margin-left: 30px;

        a, i {
          text-decoration: none;
          color: white;
          display: flex;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }

  }

}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    display: flex;
    text-decoration: none;

    span {
      font-size: 20px;
      color: black;
    }
  }

  span.arrow {
    display: block;
    transform: rotate(180deg);
  }
}
