.tags {

  .restaurant__tags {
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
    }

    li {
      margin: 15px;
      flex-basis: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 20px;
      }
    }
    a {
      display: flex;

      text-decoration: none;

      * {
        margin-right: 5px;
      }
    }

    .active {
      color: gold
    }
  }
}

@include breakpoint(fhd) {
  .tags {
    .restaurant__tags {
      li p {
        font-size: 24px;
      }
    }
  }
}
