@import "breakpoints";
@import "_nav";
@import "_flash";
@import "_form";
@import "_restaurants";
@import "_singleRestaurant";
@import "_tags";
@import "_top";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #222;
}

.site {
  width: 1920px;
  margin: 0 auto;
}

.outlined {
  color: white;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  align-self: center;
}
.big {
  font-size: 70px;
  text-align: center;
  margin: 20px 0;
}
